.comment{
  margin-top: 2rem;
  direction: rtl;
  color: white;
  &-text{
    direction: ltr;
    background-color: rgba(white,5%);
    padding: 3rem;
    border-radius: 60px;
    text-align: right;
    overflow-y:auto ;
    overflow-wrap: break-word;
    max-height: 700px;
  }
}
.reviewer-info{
  color: white;
  text-align: right;
  margin-bottom: 3rem;
  &_image{
    img{
      width: 134px;
      height: 134px;
    }
  }
  &_caption{
    align-self: center;
    h4{
      margin-bottom: 0.75rem;
    }
    p{
      margin-bottom: 0.25rem;
    }
  }
  .rating-wrapper{
    direction: ltr;
    text-align: left;
    align-self: center;
    .fa-star,.fa-star-half-alt{
      font-size: 2rem;
    }
  }
}