.login{
  a{
    color: #6db6af;
  }
  .social{
    min-width: 30px;
  }
  .container{
  padding-top: 5rem;
    max-width: 1140px;
  }
  .logo{
    margin: 2rem 0;
  }
  .login-header{
    text-align: right;
    //color: white;
    margin-top: 1.5rem;
    padding: 0.75rem 2.5rem;
  }
  .card {
    background-color: rgba(7,59,76,49%);
    border: 7px solid rgba(17,138,178,34%);
    border-radius: 50px;
    color: white;
    .card-body {
      padding: 0 2.5rem;
      .form-control{
        border-radius: 14px;
      }

      button {
        background-color: #FFD166;
        border-color:#FFD166 ;
        border-radius: 14px;
        &:hover{
          background-color: darken(#FFD166,8%);
          border-color: darken(#FFD166,10%);
        }
        &:active{
          background-color: darken(#FFD166,10%);
          border-color: darken(#FFD166,12%);
          &:focus{
            box-shadow: 0 0 0 0.2rem rgba(lighten(#FFD166,10%), 0.5);
          }
          }
        }

      h3 {
        width: 100%;
        padding: 0.75rem 2.5rem;

      }

      h3:before {
        content: "";
        display: inline-block;
        height: 0.5em;
        vertical-align: bottom;
        width: 50%;
        margin-right: 10px;
        margin-left: -100%;
        border-top: 3px solid #118AB2;
      }

      h3:after {
        content: "";
        display: inline-block;
        height: 0.5em;
        vertical-align: bottom;
        width: 50%;
        margin-left: 10px;
        margin-right: -100%;
        border-top: 3px solid #118AB2;
      }
    }
  }
}