.change-password{
  .heading-line{
      width: 95%;
      margin: auto;
    overflow: hidden;
  }
  &_form{
    padding: 2rem;
    text-align: right;
    width: 80%;
    margin: auto;
    @media (max-width: 767px) {
      padding: 2rem 0.5rem;
    }
    @media (max-width: 575px) {
      width: 100%;
    }
    button{
      margin-top: 2rem;
    }
  }
  .input-field{
    position: relative;
    &_icon{
      font-size: 1.2rem;
      right: 2%;
      cursor: pointer;
    }
  }
  h3 {
    direction: rtl;
    text-align: right;
  }
  label,h4 {
    font-size: 1.1rem;
    font-weight: 300;
    direction: rtl;
  }

}