.profile{
  direction: rtl;
  form{
    display: flex;
    flex-direction: column;
  }
  &-heading{
    border-bottom: 4px deepskyblue solid;
    width: 110px;
    text-align: center;
    padding-bottom: 0.5rem;

  }
  &-information{

    background-color: rgba(white,5%);
    padding: 2rem;
    text-align: right;
    .input-field {
      display: block;
    }
    & .form-group{
      @media (max-width: 767px){
        width: 100%;
      }
      width: 80%;
      margin: 2rem auto;
      &.col-md-6{
        width: 100%;
        padding: 0;
        &:first-child{
          padding-left:2rem;
          @media (max-width: 767px){
            padding-left: 0;
          }
        }
        input{
          direction: ltr;

        }
      }

      .cv-download{
        margin-right: auto;
        color:white;
        font-size: 1.2rem;
        &:hover{
          color:$main-yellow
        }
      }
      input{
        background-color: rgba(255, 255, 255, 0.1);
        &:focus{
          background-color: white;
        }
      }
      label,h4 {
        font-size: 1.25rem;
        font-weight: 300;

        &:before {
          display: inline-block;
          vertical-align: middle;
          margin-left: 0.5rem;
          content: "";
          width: 22px;
          height: 22px;
          border-radius: 50%;
          background-color: white;
        }
      }
    }
  }
  .form-row{
    @media (max-width: 767px){
     width: 100%;
    }
    width: 80%;
    margin: auto;

  }

}