
.register {
  .btn{
    padding: 0.5rem 2rem;
    &-social {
      border: 2px solid white;
      color: white;
      width: 100%;

      &.google:hover {
        background-color: #fff;
        color: black;

      }

      &.linkedin{
        @media (max-width: 767px) {
         margin-top: 0.75rem;
        }
      &:hover {
        background-color: #0072B1;
      }
    }

    }
  }
  .heading{
    @media (max-width: 991px) {
      width: 100%;
    }
    @media (max-width: 575px) {
      text-align: center;
      margin-bottom: 2rem;
    }
    text-align: right;
    width: 45%;
    overflow: hidden;
    &:after {
      @media (max-width: 575px) {
        display: none;
        text-align: center;
      }
      content:"";
      display: inline-block;
      height: 0.5em;
      vertical-align: bottom;
      width: 100%;
      margin-right: 10px;
      margin-left: -100%;
      border-top: 1px solid white;
    }
  }
  &-image{
    margin-top: 5rem;
  }
  .register-form-container{
    @media (max-width: 991px) {
      margin: auto;
    }
    form{
      .btn-custom{
        @media (max-width: 387px) {
          padding: 0.5rem 1rem;
        }
      }
      display: flex;
      flex-direction: column;
      .form-group{
        &:nth-of-type(1) { order: 1; }
        &:nth-of-type(2) { order: 2; }
        &:nth-of-type(3) { order: 4; }
        &:nth-of-type(4) { order: 5; }
        &:nth-of-type(5) { order: 5; }
        &:nth-of-type(6) { order: 6; }
        &:nth-of-type(7) { order: 7; }
        &:nth-of-type(8) { order: 8; }
      }

    }


  }
}
.input-field {
  .linkedin-url{
    @media (max-width: 380px) {
        font-size: 0.8rem;
    }
  }
  display: flex;
  &_icon{
    align-self: center;
    position: absolute;
    &.icon-right{
      right: 24px;
    }
    &.icon-left{
      left: 24px;
    }
    .icon-password{
      background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4763.72 3671.27'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%23fff;stroke-miterlimit:10;stroke-width:250px;%7D%3C/style%3E%3C/defs%3E%3Crect class='cls-1' x='13.5' y='588.46' width='4736.72' height='3069.31'/%3E%3Cpath class='cls-1' d='M1755.87,13.5H3000.16a214.07,214.07,0,0,1,214.07,214.07V588.46a0,0,0,0,1,0,0H1548.34a0,0,0,0,1,0,0V221A207.53,207.53,0,0,1,1755.87,13.5Z'/%3E%3Cpath class='cls-1' d='M1815.17,159.29H2924.81a131.29,131.29,0,0,1,131.29,131.29V588.46a0,0,0,0,1,0,0H1695.17a0,0,0,0,1,0,0V279.29A120,120,0,0,1,1815.17,159.29Z'/%3E%3Crect class='cls-1' x='593.99' y='1429.87' width='638.12' height='1355.29'/%3E%3Crect class='cls-1' x='1576.58' y='1429.87' width='638.12' height='1355.29'/%3E%3Crect class='cls-1' x='2547.87' y='1429.87' width='638.12' height='1355.29'/%3E%3Crect class='cls-1' x='3530.46' y='1429.87' width='638.12' height='1355.29'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      width: 21px;
      height: 16px;
      display: block;
    }
    .icon-company{
      background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1749.71 3373.42'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%23fff;stroke-miterlimit:10;stroke-width:60px;%7D%3C/style%3E%3C/defs%3E%3Ccircle class='cls-1' cx='871.44' cy='386.28' r='372.78'/%3E%3Crect class='cls-1' x='13.5' y='1681.01' width='853.68' height='1678.91'/%3E%3Crect class='cls-1' x='874.85' y='1986.24' width='853.68' height='1373.68'/%3E%3Crect class='cls-1' x='135.15' y='1838.27' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='362.8' y='1838.27' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='586.89' y='1838.27' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='586.89' y='2086.79' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='362.8' y='2086.79' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='135.15' y='2086.79' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='135.15' y='2331.75' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='362.8' y='2331.75' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='586.89' y='2331.75' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='586.89' y='2580.26' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='362.8' y='2580.26' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='135.15' y='2580.26' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='1001.84' y='2086.79' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='1229.49' y='2086.79' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='1453.58' y='2086.79' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='1453.58' y='2335.3' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='1229.49' y='2335.3' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='1001.84' y='2335.3' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='1001.84' y='2580.26' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='1229.49' y='2580.26' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='1453.58' y='2580.26' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='1453.58' y='2828.78' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='1229.49' y='2828.78' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='1001.84' y='2828.78' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='135.15' y='2580.26' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='362.8' y='2580.26' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='586.89' y='2580.26' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='586.89' y='2828.78' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='362.8' y='2828.78' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='135.15' y='2828.78' width='147.97' height='147.97'/%3E%3Cpath class='cls-1' d='M3222.29,2802.32,3230,2487.6c0-475.71-385.65-861.35-861.36-861.35s-861.35,385.64-861.35,861.35' transform='translate(-1493.76 -816.07)'/%3E%3Crect class='cls-1' x='362.8' y='3094.37' width='147.97' height='265.55'/%3E%3Crect class='cls-1' x='1227.71' y='3094.37' width='147.97' height='265.55'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      width: 21px;
      height: 40px;
      display: block;
    }
  }

  input {
    padding:0 30px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    height: 48px;
    &[id='name']{
      direction: rtl;
    }
    &[type='password']{
      padding-top: 3px;
      padding-bottom: 0;
      padding-left: 35px;
    }
    &[id='company']{
      padding-left: 35px;
    }
    &:focus{
      background-color: white;
      color: black;
      & + .input-field_icon{
        color: black;
        .icon-password{
          background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4763.72 3671.27'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%23000;stroke-miterlimit:10;stroke-width:250px;%7D%3C/style%3E%3C/defs%3E%3Crect class='cls-1' x='13.5' y='588.46' width='4736.72' height='3069.31'/%3E%3Cpath class='cls-1' d='M1755.87,13.5H3000.16a214.07,214.07,0,0,1,214.07,214.07V588.46a0,0,0,0,1,0,0H1548.34a0,0,0,0,1,0,0V221A207.53,207.53,0,0,1,1755.87,13.5Z'/%3E%3Cpath class='cls-1' d='M1815.17,159.29H2924.81a131.29,131.29,0,0,1,131.29,131.29V588.46a0,0,0,0,1,0,0H1695.17a0,0,0,0,1,0,0V279.29A120,120,0,0,1,1815.17,159.29Z'/%3E%3Crect class='cls-1' x='593.99' y='1429.87' width='638.12' height='1355.29'/%3E%3Crect class='cls-1' x='1576.58' y='1429.87' width='638.12' height='1355.29'/%3E%3Crect class='cls-1' x='2547.87' y='1429.87' width='638.12' height='1355.29'/%3E%3Crect class='cls-1' x='3530.46' y='1429.87' width='638.12' height='1355.29'/%3E%3C/svg%3E");
        }
        .icon-company{
          background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1749.71 3373.42'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%23000;stroke-miterlimit:10;stroke-width:60px;%7D%3C/style%3E%3C/defs%3E%3Ccircle class='cls-1' cx='871.44' cy='386.28' r='372.78'/%3E%3Crect class='cls-1' x='13.5' y='1681.01' width='853.68' height='1678.91'/%3E%3Crect class='cls-1' x='874.85' y='1986.24' width='853.68' height='1373.68'/%3E%3Crect class='cls-1' x='135.15' y='1838.27' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='362.8' y='1838.27' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='586.89' y='1838.27' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='586.89' y='2086.79' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='362.8' y='2086.79' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='135.15' y='2086.79' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='135.15' y='2331.75' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='362.8' y='2331.75' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='586.89' y='2331.75' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='586.89' y='2580.26' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='362.8' y='2580.26' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='135.15' y='2580.26' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='1001.84' y='2086.79' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='1229.49' y='2086.79' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='1453.58' y='2086.79' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='1453.58' y='2335.3' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='1229.49' y='2335.3' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='1001.84' y='2335.3' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='1001.84' y='2580.26' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='1229.49' y='2580.26' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='1453.58' y='2580.26' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='1453.58' y='2828.78' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='1229.49' y='2828.78' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='1001.84' y='2828.78' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='135.15' y='2580.26' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='362.8' y='2580.26' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='586.89' y='2580.26' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='586.89' y='2828.78' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='362.8' y='2828.78' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='135.15' y='2828.78' width='147.97' height='147.97'/%3E%3Cpath class='cls-1' d='M3222.29,2802.32,3230,2487.6c0-475.71-385.65-861.35-861.36-861.35s-861.35,385.64-861.35,861.35' transform='translate(-1493.76 -816.07)'/%3E%3Crect class='cls-1' x='362.8' y='3094.37' width='147.97' height='265.55'/%3E%3Crect class='cls-1' x='1227.71' y='3094.37' width='147.97' height='265.55'/%3E%3C/svg%3E");

        }
      }

    }
  }


  .form-control {
    //background-color: #BFCCD2;
    //color: #5A5A5A;
    border: 0;
    border-radius: 20px;
  }
}
.file-drop-area {
  direction: rtl;
  background-color: rgba(255, 255, 255, 0.2);
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  //max-width: 100%;
  padding: 10px;
  border: 1px dashed rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  border-radius: 20px;

  transition: 0.2s;

  &.is-active {
    //background-color: rgba(255, 255, 255, 0.05);
  }
}

.fake-btn {
  color: #243168;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 5px 40px;
  @media (max-width: 400px) {
    padding: 5px 15px;
  }
  margin: 0 10px;
  font-size: 12px;
}

.file-msg {
  color: white;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
}

.file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;

  &:focus {
    outline: none;
  }
}

.avatar-upload {
  position: relative;
  max-width: 205px;
  margin:auto;

  .avatar-edit {
    position: absolute;
    right: 0;
    z-index: 1;
    bottom: 10px;

    input {
      display: none;

      + label {
        display: flex;
        width: 34px;
        height: 34px;
        margin-bottom: 0;
        border-radius: 100%;
        background: $main-yellow;
        border: 1px solid transparent;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
        cursor: pointer;
        font-weight: normal;
        transition: all .2s ease-in-out;
        justify-content: center;
        align-items: center;
        .fa-plus{
          font-size: 1.5rem;
        }

      }
    }
  }

  .avatar-preview {
    width: 150px;
    height: 150px;
    position: relative;
    margin: auto;
    border-radius: 100%;
    border: 3px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);

    > div {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
