
.register {
  .btn{
    padding: 0.5rem 2rem;
    &-social {
      border: 2px solid white;
      color: white;
      width: 100%;

      &.google:hover {
        background-color: #fff;
        color: black;

      }

      &.linkedin{
        @media (max-width: 767px) {
         margin-top: 0.75rem;
        }
      &:hover {
        background-color: #0072B1;
      }
    }

    }
  }
  .heading{
    @media (max-width: 991px) {
      width: 100%;
    }
    @media (max-width: 575px) {
      text-align: center;
      margin-bottom: 2rem;
    }
    text-align: right;
    width: 45%;
    overflow: hidden;
    &:after {
      @media (max-width: 575px) {
        display: none;
        text-align: center;
      }
      content:"";
      display: inline-block;
      height: 0.5em;
      vertical-align: bottom;
      width: 100%;
      margin-right: 10px;
      margin-left: -100%;
      border-top: 1px solid white;
    }
  }
  &-image{
    margin-top: 5rem;
  }
  .register-form-container{
    @media (max-width: 991px) {
      margin: auto;
    }
    form{
      .btn-custom{
        @media (max-width: 387px) {
          padding: 0.5rem 1rem;
        }
      }
      display: flex;
      flex-direction: column;
      .form-group{
        &:nth-of-type(1) { order: 1; }
        &:nth-of-type(2) { order: 2; }
        &:nth-of-type(3) { order: 4; }
        &:nth-of-type(4) { order: 5; }
        &:nth-of-type(5) { order: 5; }
        &:nth-of-type(6) { order: 6; }
        &:nth-of-type(7) { order: 7; }
        &:nth-of-type(8) { order: 8; }
      }

    }


  }
}
.input-field {
  .linkedin-url{
    @media (max-width: 380px) {
        font-size: 0.8rem;
    }
  }
  display: flex;
  &_icon{
    align-self: center;
    position: absolute;
    &.icon-right{
      right: 5%;
    }
    &.icon-left{
      left: 5%;
    }
  }

  input {
    padding:0 30px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    height: 48px;
    &:focus{
      background-color: white;
      color: black;
      & + .input-field_icon{
        color: black;
      }
    }
  }


  .form-control {
    //background-color: #BFCCD2;
    //color: #5A5A5A;
    border: 0;
    border-radius: 20px;
  }
}
.file-drop-area {
  direction: rtl;
  background-color: rgba(255, 255, 255, 0.2);
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  //max-width: 100%;
  padding: 10px;
  border: 1px dashed rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  border-radius: 20px;

  transition: 0.2s;

  &.is-active {
    //background-color: rgba(255, 255, 255, 0.05);
  }
}

.fake-btn {
  color: #243168;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 5px 40px;
  margin: 0 10px;
  font-size: 12px;
}

.file-msg {
  color: white;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
}

.file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;

  &:focus {
    outline: none;
  }
}

.avatar-upload {
  position: relative;
  max-width: 205px;
  margin:auto;

  .avatar-edit {
    position: absolute;
    right: 0;
    z-index: 1;
    bottom: 10px;

    input {
      display: none;

      + label {
        display: flex;
        width: 34px;
        height: 34px;
        margin-bottom: 0;
        border-radius: 100%;
        background: $main-yellow;
        border: 1px solid transparent;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
        cursor: pointer;
        font-weight: normal;
        transition: all .2s ease-in-out;
        justify-content: center;
        align-items: center;
        .fa-plus{
          font-size: 1.5rem;
        }

      }
    }
  }

  .avatar-preview {
    width: 150px;
    height: 150px;
    position: relative;
    margin: auto;
    border-radius: 100%;
    border: 3px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);

    > div {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
