.requests-container{
  align-items: center;
  .heading-line{
    width: 80%;
    margin: auto;
    overflow: hidden;
    @media (max-width: 575.9px) {
      width: 100%;
      text-align: center;
      &:after,&:before{
        content: none;
      }
    }
  }
  .requests {
    margin-top: 3rem;
    .request {
      align-items: center;
      width: 80%;
      margin: auto;
      margin-top: 1.5rem;
      text-align: center;
      direction: rtl;
      color: white;
      background-color: rgba(white, 10%);
      border-radius: 50px;
      padding: 1rem;
      @media (max-width: 575.9px) {
      width: 100%;
      }
      p {
        padding-right: 1.5rem;
        @media (max-width: 767.9px) {
          padding-right: 0;
        }
        margin: 0;
      }

      .btn-custom {
        font-size: 0.9rem;
      }
    }
  }
}