.reviewers-list{
  .container{
    max-width: 1140px;
  }
  .reviewer{
    background-color: rgba(white , 10%);
    border-radius: 50px;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    &-image{
      width: 134px;
      height: 134px;
      margin: 2rem;
      padding: 0.15rem;
      background-color: gray;
      border: 1px solid #dee2e6;
      &-container{
        position: relative;

      }
    }
    &-score-icons{
      position: absolute;
      bottom: 45px;
      left:90px;
      direction: ltr;
    }
  }
}
.fa-star{

  font-size: 0.7rem;
  &.full, &-half-alt{
    font-size: 0.7rem;
    color: $main-yellow;
  }
}