// Variables
@import 'variables';

.btn{
  border-radius: 50px;

 &-custom{
   background-color: white;
   font-size: 1.3rem;
 }
  &-yellow-primary{
    background-color: $main-yellow;
    border-color:$main-yellow;
    color: white;
    padding: 0.5rem 2rem;
    font-size: 1.5rem;

  }
  &-yellow-secondary {
    background-color: #FFD166;
    border-color:#FFD166 ;
    border-radius: 14px;
    &:hover{
      background-color: darken(#FFD166,8%);
      border-color: darken(#FFD166,10%);
    }
    &:active{
      background-color: darken(#FFD166,10%);
      border-color: darken(#FFD166,12%);
    }
    &:focus{
      box-shadow: 0 0 0 0.2rem rgba(lighten(#FFD166,10%), 0.5);
    }
  }
}
.user-image{
  border: 1px solid white;
  border-radius: 50%;
  width:134px;
  height:134px;
}
.heading-line{
  width: 100%;
  direction: rtl;
}
.heading-line:after {
  content:"";
  display: inline-block;
  height: 0.5em;
  vertical-align: bottom;
  width: 80%;
  margin-right: 10px;
  margin-left: -100%;
  border-top: 1px solid white;
}
.invalid-feedback, .alert{
  direction: rtl;
}
/* Header Styles */
@import "layout/navbar";

/* Home Page */
@import "pages/index";

/* Register Page */
@import "pages/register";

/* Login Page */
@import "pages/login";

/* Reviewers Page */
@import "pages/reviewers";

/* Profile Page */
@import "pages/profile";

/* User Show Page */
@import "pages/user-show";

/* About Page */
@import "pages/about";