.btn {
  border-radius: 50px;
}
.btn-custom {
  background-color: white;
  font-size: 1.3rem;
}
.btn-yellow-primary {
  background-color: #FAC12A;
  border-color: #FAC12A;
  color: white;
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
}
.btn-yellow-secondary {
  background-color: #FFD166;
  border-color: #FFD166;
  border-radius: 14px;
}
.btn-yellow-secondary:hover {
  background-color: #ffc53d;
  border-color: #ffc233;
}
.btn-yellow-secondary:active {
  background-color: #ffc233;
  border-color: #ffbf29;
}
.btn-yellow-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 224, 153, 0.5);
}

.user-image {
  border: 1px solid white;
  border-radius: 50%;
  width: 134px;
  height: 134px;
}

.heading-line {
  width: 100%;
  direction: rtl;
  text-align: right;
  color: white;
}

.heading-line:after {
  content: "";
  display: inline-block;
  height: 0.5em;
  vertical-align: bottom;
  width: 80%;
  margin-right: 10px;
  margin-left: -100%;
  border-top: 1px solid white;
}

.invalid-feedback, .alert {
  direction: rtl;
}

.form-control.is-invalid {
  background-image: none;
}

/* Header Styles */
header .container {
  max-width: 1500px;
}
header .navbar {
  background-color: #FAC12A;
  border-radius: 50px;
}
@media (min-width: 992px) {
  header .navbar {
    padding: 0 1rem;
  }
}
header .navbar .navbar-nav.ml-auto {
  direction: rtl;
  padding: 0;
}
header .navbar .nav-item {
  font-weight: bold;
  font-size: 1.1rem;
  border-radius: 20px;
  margin: 0.75rem 0.5rem;
  padding: 0 0.5rem;
}
header .navbar .nav-item.nav-item_bg {
  background-color: rgba(7, 59, 76, 0.89);
}
header .navbar .nav-item.nav-item_bg .nav-link {
  color: white;
}
header .navbar .nav-item:first-child {
  margin-right: 1.5rem;
}
header .navbar .nav-item .nav-link {
  padding: 0.5rem 1rem;
  color: #204948;
}
header .navbar .nav-item .dropdown-menu {
  width: 100%;
  background-color: #073B4C;
  border: 2px solid #FAC12A;
}
header .navbar .nav-item .dropdown-menu .dropdown-item {
  color: white;
  margin: 0.5rem 2rem;
}
header .navbar .nav-item .dropdown-menu .dropdown-item:hover {
  background-color: initial;
}
header .navbar .nav-item .dropdown-menu_image {
  border: 1px solid white;
  border-radius: 50%;
  width: 134px;
  height: 134px;
}
header .navbar .container {
  padding: 0;
}
header .navbar .typo-logo {
  font-size: 1.7rem;
  color: #073B4C !important;
  padding-left: 0 !important;
  padding-top: 0.75rem;
}

/* Home Page */
.home-auth_caption {
  align-self: end;
  text-align: center;
}
@media (max-width: 991px) {
  .home-auth_caption {
    margin-top: 3rem;
  }
}
@media (max-width: 767px) {
  .home-auth_caption {
    order: 1;
  }
}
.home-auth_caption h4 {
  width: 80%;
  margin: auto;
  overflow: hidden;
  color: white;
  font-size: 2rem;
}
.home-auth_caption h4:after {
  content: "";
  display: inline-block;
  height: 0.5em;
  vertical-align: bottom;
  width: 40%;
  margin-left: 10px;
  margin-right: -100%;
  border-top: 3px solid white;
}
.home-auth_caption h4:before {
  content: "";
  display: inline-block;
  height: 0.5em;
  vertical-align: bottom;
  width: 40%;
  margin-right: 10px;
  margin-left: -100%;
  border-top: 3px solid white;
}
.home-auth_caption p {
  direction: rtl;
  padding: 1rem;
  margin: auto;
  margin-top: 1rem;
  color: white;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
}
.home-auth_caption .btn-yellow-primary {
  margin-top: 1rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}
.home-guest {
  margin-top: 5rem;
}
.home-guest_caption {
  align-self: end;
  text-align: center;
}
@media (max-width: 991px) {
  .home-guest_caption {
    margin-top: 3rem;
    order: 1;
  }
}
.home-guest_caption h4 {
  width: 90%;
  margin: auto;
  overflow: hidden;
  color: #FFD166;
  white-space: pre-line;
}
.home-guest_caption p {
  direction: rtl;
  padding: 1rem;
  margin: auto;
  color: white;
  width: 90%;
}
@media (max-width: 575px) {
  .home-guest_caption p {
    width: 100%;
  }
}
.home-guest_caption .btn-yellow-primary {
  margin-top: 1rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}
.home-guest_caption h5 {
  color: white;
}
.home-guest_caption h5 ~ a {
  width: 80px;
  margin-top: 0.5rem;
}
.home .user-btn {
  text-align: right;
  align-self: center;
}
@media (max-width: 575px) {
  .home .user-btn {
    text-align: center;
  }
}
.home .reviewer-btn {
  text-align: left;
  align-self: center;
}
@media (max-width: 575px) {
  .home .reviewer-btn {
    text-align: center;
    margin-top: 1rem;
  }
}

/* Register Page */
.register .btn {
  padding: 0.5rem 2rem;
}
.register .btn-social {
  border: 2px solid white;
  color: white;
  width: 100%;
}
.register .btn-social.google:hover {
  background-color: #fff;
  color: black;
}
@media (max-width: 767px) {
  .register .btn-social.linkedin {
    margin-top: 0.75rem;
  }
}
.register .btn-social.linkedin:hover {
  background-color: #0072B1;
}
.register .heading {
  text-align: right;
  width: 45%;
  overflow: hidden;
}
@media (max-width: 991px) {
  .register .heading {
    width: 100%;
  }
}
@media (max-width: 575px) {
  .register .heading {
    text-align: center;
    margin-bottom: 2rem;
  }
}
.register .heading:after {
  content: "";
  display: inline-block;
  height: 0.5em;
  vertical-align: bottom;
  width: 100%;
  margin-right: 10px;
  margin-left: -100%;
  border-top: 1px solid white;
}
@media (max-width: 575px) {
  .register .heading:after {
    display: none;
    text-align: center;
  }
}
.register-image {
  margin-top: 5rem;
}
@media (max-width: 991px) {
  .register .register-form-container {
    margin: auto;
  }
}
.register .register-form-container form {
  display: flex;
  flex-direction: column;
}
@media (max-width: 387px) {
  .register .register-form-container form .btn-custom {
    padding: 0.5rem 1rem;
  }
}
.register .register-form-container form .form-group:nth-of-type(1) {
  order: 1;
}
.register .register-form-container form .form-group:nth-of-type(2) {
  order: 2;
}
.register .register-form-container form .form-group:nth-of-type(3) {
  order: 4;
}
.register .register-form-container form .form-group:nth-of-type(4) {
  order: 5;
}
.register .register-form-container form .form-group:nth-of-type(5) {
  order: 5;
}
.register .register-form-container form .form-group:nth-of-type(6) {
  order: 6;
}
.register .register-form-container form .form-group:nth-of-type(7) {
  order: 7;
}
.register .register-form-container form .form-group:nth-of-type(8) {
  order: 8;
}

.input-field {
  display: flex;
}
@media (max-width: 380px) {
  .input-field .linkedin-url {
    font-size: 0.8rem;
  }
}
.input-field_icon {
  align-self: center;
  position: absolute;
}
.input-field_icon.icon-right {
  right: 24px;
}
.input-field_icon.icon-left {
  left: 24px;
}
.input-field_icon .icon-password {
  background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4763.72 3671.27'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%23fff;stroke-miterlimit:10;stroke-width:250px;%7D%3C/style%3E%3C/defs%3E%3Crect class='cls-1' x='13.5' y='588.46' width='4736.72' height='3069.31'/%3E%3Cpath class='cls-1' d='M1755.87,13.5H3000.16a214.07,214.07,0,0,1,214.07,214.07V588.46a0,0,0,0,1,0,0H1548.34a0,0,0,0,1,0,0V221A207.53,207.53,0,0,1,1755.87,13.5Z'/%3E%3Cpath class='cls-1' d='M1815.17,159.29H2924.81a131.29,131.29,0,0,1,131.29,131.29V588.46a0,0,0,0,1,0,0H1695.17a0,0,0,0,1,0,0V279.29A120,120,0,0,1,1815.17,159.29Z'/%3E%3Crect class='cls-1' x='593.99' y='1429.87' width='638.12' height='1355.29'/%3E%3Crect class='cls-1' x='1576.58' y='1429.87' width='638.12' height='1355.29'/%3E%3Crect class='cls-1' x='2547.87' y='1429.87' width='638.12' height='1355.29'/%3E%3Crect class='cls-1' x='3530.46' y='1429.87' width='638.12' height='1355.29'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  width: 21px;
  height: 16px;
  display: block;
}
.input-field_icon .icon-company {
  background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1749.71 3373.42'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%23fff;stroke-miterlimit:10;stroke-width:60px;%7D%3C/style%3E%3C/defs%3E%3Ccircle class='cls-1' cx='871.44' cy='386.28' r='372.78'/%3E%3Crect class='cls-1' x='13.5' y='1681.01' width='853.68' height='1678.91'/%3E%3Crect class='cls-1' x='874.85' y='1986.24' width='853.68' height='1373.68'/%3E%3Crect class='cls-1' x='135.15' y='1838.27' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='362.8' y='1838.27' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='586.89' y='1838.27' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='586.89' y='2086.79' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='362.8' y='2086.79' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='135.15' y='2086.79' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='135.15' y='2331.75' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='362.8' y='2331.75' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='586.89' y='2331.75' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='586.89' y='2580.26' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='362.8' y='2580.26' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='135.15' y='2580.26' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='1001.84' y='2086.79' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='1229.49' y='2086.79' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='1453.58' y='2086.79' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='1453.58' y='2335.3' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='1229.49' y='2335.3' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='1001.84' y='2335.3' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='1001.84' y='2580.26' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='1229.49' y='2580.26' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='1453.58' y='2580.26' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='1453.58' y='2828.78' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='1229.49' y='2828.78' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='1001.84' y='2828.78' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='135.15' y='2580.26' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='362.8' y='2580.26' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='586.89' y='2580.26' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='586.89' y='2828.78' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='362.8' y='2828.78' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='135.15' y='2828.78' width='147.97' height='147.97'/%3E%3Cpath class='cls-1' d='M3222.29,2802.32,3230,2487.6c0-475.71-385.65-861.35-861.36-861.35s-861.35,385.64-861.35,861.35' transform='translate(-1493.76 -816.07)'/%3E%3Crect class='cls-1' x='362.8' y='3094.37' width='147.97' height='265.55'/%3E%3Crect class='cls-1' x='1227.71' y='3094.37' width='147.97' height='265.55'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  width: 21px;
  height: 40px;
  display: block;
}
.input-field input {
  padding: 0 30px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  height: 48px;
}
.input-field input[id=name] {
  direction: rtl;
}
.input-field input[type=password] {
  padding-top: 3px;
  padding-bottom: 0;
  padding-left: 35px;
}
.input-field input[id=company] {
  padding-left: 35px;
}
.input-field input:focus {
  background-color: white;
  color: black;
}
.input-field input:focus + .input-field_icon {
  color: black;
}
.input-field input:focus + .input-field_icon .icon-password {
  background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4763.72 3671.27'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%23000;stroke-miterlimit:10;stroke-width:250px;%7D%3C/style%3E%3C/defs%3E%3Crect class='cls-1' x='13.5' y='588.46' width='4736.72' height='3069.31'/%3E%3Cpath class='cls-1' d='M1755.87,13.5H3000.16a214.07,214.07,0,0,1,214.07,214.07V588.46a0,0,0,0,1,0,0H1548.34a0,0,0,0,1,0,0V221A207.53,207.53,0,0,1,1755.87,13.5Z'/%3E%3Cpath class='cls-1' d='M1815.17,159.29H2924.81a131.29,131.29,0,0,1,131.29,131.29V588.46a0,0,0,0,1,0,0H1695.17a0,0,0,0,1,0,0V279.29A120,120,0,0,1,1815.17,159.29Z'/%3E%3Crect class='cls-1' x='593.99' y='1429.87' width='638.12' height='1355.29'/%3E%3Crect class='cls-1' x='1576.58' y='1429.87' width='638.12' height='1355.29'/%3E%3Crect class='cls-1' x='2547.87' y='1429.87' width='638.12' height='1355.29'/%3E%3Crect class='cls-1' x='3530.46' y='1429.87' width='638.12' height='1355.29'/%3E%3C/svg%3E");
}
.input-field input:focus + .input-field_icon .icon-company {
  background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1749.71 3373.42'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%23000;stroke-miterlimit:10;stroke-width:60px;%7D%3C/style%3E%3C/defs%3E%3Ccircle class='cls-1' cx='871.44' cy='386.28' r='372.78'/%3E%3Crect class='cls-1' x='13.5' y='1681.01' width='853.68' height='1678.91'/%3E%3Crect class='cls-1' x='874.85' y='1986.24' width='853.68' height='1373.68'/%3E%3Crect class='cls-1' x='135.15' y='1838.27' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='362.8' y='1838.27' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='586.89' y='1838.27' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='586.89' y='2086.79' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='362.8' y='2086.79' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='135.15' y='2086.79' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='135.15' y='2331.75' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='362.8' y='2331.75' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='586.89' y='2331.75' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='586.89' y='2580.26' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='362.8' y='2580.26' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='135.15' y='2580.26' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='1001.84' y='2086.79' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='1229.49' y='2086.79' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='1453.58' y='2086.79' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='1453.58' y='2335.3' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='1229.49' y='2335.3' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='1001.84' y='2335.3' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='1001.84' y='2580.26' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='1229.49' y='2580.26' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='1453.58' y='2580.26' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='1453.58' y='2828.78' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='1229.49' y='2828.78' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='1001.84' y='2828.78' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='135.15' y='2580.26' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='362.8' y='2580.26' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='586.89' y='2580.26' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='586.89' y='2828.78' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='362.8' y='2828.78' width='147.97' height='147.97'/%3E%3Crect class='cls-1' x='135.15' y='2828.78' width='147.97' height='147.97'/%3E%3Cpath class='cls-1' d='M3222.29,2802.32,3230,2487.6c0-475.71-385.65-861.35-861.36-861.35s-861.35,385.64-861.35,861.35' transform='translate(-1493.76 -816.07)'/%3E%3Crect class='cls-1' x='362.8' y='3094.37' width='147.97' height='265.55'/%3E%3Crect class='cls-1' x='1227.71' y='3094.37' width='147.97' height='265.55'/%3E%3C/svg%3E");
}
.input-field .form-control {
  border: 0;
  border-radius: 20px;
}

.file-drop-area {
  direction: rtl;
  background-color: rgba(255, 255, 255, 0.2);
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  border: 1px dashed rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  border-radius: 20px;
  transition: 0.2s;
}
.fake-btn {
  color: #243168;
  background-color: white;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 5px 40px;
  margin: 0 10px;
  font-size: 12px;
}
@media (max-width: 400px) {
  .fake-btn {
    padding: 5px 15px;
  }
}

.file-msg {
  color: white;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
}

.file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}
.file-input:focus {
  outline: none;
}

.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: auto;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 0;
  z-index: 1;
  bottom: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: flex;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FAC12A;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
  justify-content: center;
  align-items: center;
}
.avatar-upload .avatar-edit input + label .fa-plus {
  font-size: 1.5rem;
}
.avatar-upload .avatar-preview {
  width: 150px;
  height: 150px;
  position: relative;
  margin: auto;
  border-radius: 100%;
  border: 3px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Login Page */
.login a {
  color: #6db6af;
}
.login .social {
  min-width: 30px;
}
.login .container {
  padding-top: 5rem;
}
.login .logo {
  margin: 2rem 0;
}
.login .login-header {
  text-align: right;
  margin-top: 1.5rem;
  padding: 0.75rem 2.5rem;
}
.login .card {
  background-color: rgba(7, 59, 76, 0.49);
  border: 7px solid rgba(17, 138, 178, 0.34);
  border-radius: 50px;
  color: white;
}
.login .card .card-body {
  padding: 0 2.5rem;
}
.login .card .card-body .form-control {
  border-radius: 14px;
}
.login .card .card-body .form-check {
  direction: rtl;
  margin-top: 1rem;
  padding-left: 0;
  padding-right: 1.25rem;
}
.login .card .card-body .form-check-input {
  margin-left: 0;
  margin-right: -1.25rem;
}
.login .card .card-body .form-check-label {
  font-size: 0.75rem;
}
.login .card .card-body h3 {
  width: 100%;
}
.login .card .card-body h3:before {
  content: "";
  display: inline-block;
  height: 0.5em;
  vertical-align: bottom;
  width: 40%;
  margin-right: 10px;
  margin-left: -100%;
  border-top: 3px solid #118AB2;
}
.login .card .card-body h3:after {
  content: "";
  display: inline-block;
  height: 0.5em;
  vertical-align: bottom;
  width: 40%;
  margin-left: 10px;
  margin-right: -100%;
  border-top: 3px solid #118AB2;
}

/* Reviewers Page */
.reviewers-list .container {
  max-width: 1140px;
}
.reviewers-list .reviewer {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.reviewers-list .reviewer-image {
  width: 134px;
  height: 134px;
  margin: 2rem;
  padding: 0.15rem;
  background-color: gray;
  border: 1px solid #dee2e6;
}
.reviewers-list .reviewer-image-container {
  position: relative;
}
.reviewers-list .reviewer-score-icons {
  position: absolute;
  bottom: 45px;
  left: 90px;
  direction: ltr;
}
.reviewers-list .reviewer-score-icons .fa-star {
  font-size: 0.7rem;
}
.reviewers-list .reviewer-score-icons .fa-star.full, .reviewers-list .reviewer-score-icons .fa-star-half-alt {
  font-size: 0.7rem;
  color: #FAC12A;
}

/* Profile Page */
.profile {
  direction: rtl;
}
.profile form {
  display: flex;
  flex-direction: column;
}
.profile-heading {
  border-bottom: 4px deepskyblue solid;
  width: 110px;
  text-align: center;
  padding-bottom: 0.5rem;
}
.profile-information {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 2rem;
  text-align: right;
}
.profile-information .input-field {
  display: block;
}
.profile-information .form-group {
  width: 80%;
  margin: 2rem auto;
}
@media (max-width: 767px) {
  .profile-information .form-group {
    width: 100%;
  }
}
.profile-information .form-group.col-md-6 {
  width: 100%;
  padding: 0;
}
.profile-information .form-group.col-md-6:first-child {
  padding-left: 2rem;
}
@media (max-width: 767px) {
  .profile-information .form-group.col-md-6:first-child {
    padding-left: 0;
  }
}
.profile-information .form-group.col-md-6 input {
  direction: ltr;
}
.profile-information .form-group .cv-download {
  margin-right: auto;
  color: white;
  font-size: 1.2rem;
}
.profile-information .form-group .cv-download:hover {
  color: #FAC12A;
}
.profile-information .form-group input {
  background-color: rgba(255, 255, 255, 0.1);
}
.profile-information .form-group input:focus {
  background-color: white;
}
.profile-information .form-group label, .profile-information .form-group h4 {
  font-size: 1.25rem;
  font-weight: 300;
}
.profile-information .form-group label:before, .profile-information .form-group h4:before {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.5rem;
  content: "";
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: white;
}
.profile .form-row {
  width: 80%;
  margin: auto;
}
@media (max-width: 767px) {
  .profile .form-row {
    width: 100%;
  }
}

/* Change Password Page */
.change-password .heading-line {
  width: 95%;
  margin: auto;
  overflow: hidden;
}
.change-password_form {
  padding: 2rem;
  text-align: right;
  width: 80%;
  margin: auto;
}
@media (max-width: 767px) {
  .change-password_form {
    padding: 2rem 0.5rem;
  }
}
@media (max-width: 575px) {
  .change-password_form {
    width: 100%;
  }
}
.change-password_form button {
  margin-top: 2rem;
}
.change-password .input-field {
  position: relative;
}
.change-password .input-field_icon {
  font-size: 1.2rem;
  right: 2%;
  cursor: pointer;
}
.change-password h3 {
  direction: rtl;
  text-align: right;
}
.change-password h3:before {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.5rem;
  content: "";
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: white;
}
.change-password label, .change-password h4 {
  font-size: 1.1rem;
  font-weight: 300;
  direction: rtl;
}
.change-password label:before, .change-password h4:before {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.5rem;
  content: "";
  width: 25px;
  height: 25px;
  border: 4px solid white;
  border-radius: 50%;
}

/* Requests Page */
.requests-container {
  align-items: center;
}
.requests-container .heading-line {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
.requests-container .heading-line:before {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.5rem;
  content: "";
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: white;
}
.requests-container .requests {
  margin-top: 3rem;
}
.requests-container .requests .request {
  align-items: center;
  width: 80%;
  margin: auto;
  margin-top: 1.5rem;
  text-align: right;
  direction: rtl;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  padding: 1rem;
}
.requests-container .requests .request p {
  padding-right: 1.5rem;
  margin: 0;
}
.requests-container .requests .request .btn-custom {
  font-size: 0.9rem;
}

/* User Show Page */
.user-show {
  margin-top: 7rem;
}
.user-show .user-show_information h4 {
  margin-top: 1rem;
  color: white;
}
.user-show .user-show_information .contact-info {
  margin-top: 5rem;
  text-align: right;
  direction: rtl;
}
.user-show .user-show_information .contact-info h4 {
  font-size: 1.25rem;
  font-weight: 300;
}
.user-show .user-show_information .contact-info h4:before {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.5rem;
  content: "";
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: white;
}
.user-show .user-show_information .contact-info_box {
  margin-top: 1rem;
  border-radius: 7px;
  text-align: left;
  padding: 2rem;
  direction: ltr;
  background-color: rgba(255, 255, 255, 0.07);
}
.user-show .user-show_information .contact-info_box a, .user-show .user-show_information .contact-info_box span {
  color: white;
  font-size: 1.5rem;
}

/* About Page */
.about {
  margin-top: 4rem;
}
.about .buy-coffee {
  margin-bottom: 5rem;
}
.about .buy-coffee_heading {
  text-align: center;
  font-size: 3.25rem;
  font-weight: 300;
}
.about .buy-coffee_caption {
  width: 80%;
  margin: 2rem auto;
  font-size: 1.12rem;
  text-align: center;
}
.about .buy-coffee_payment {
  background-color: white;
  width: 70%;
  margin: auto;
  padding: 2rem;
  border-radius: 40px;
}
.about .buy-coffee_payment .price {
  font-size: 2rem;
  color: #FAC12A;
}
.about .buy-coffee_payment .quantity {
  padding: 0;
  align-self: center;
  border-radius: 20px;
  overflow: hidden;
}
.about .buy-coffee_payment .quantity > .col-md-4 > span {
  color: white;
  font-size: 2rem;
  background-color: #1b4b72;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
}
.about .buy-coffee_payment .quantity > .col-md-4 > span.fal {
  cursor: pointer;
  background-color: #1d68a7;
  padding: 0.5rem 0;
}
.about .heading-line {
  overflow: hidden;
}
.about .heading-line::after {
  width: 100%;
}
.about-text {
  padding: 3rem 2rem;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.08);
  color: white;
  direction: rtl;
  text-align: justify;
}
.about-title {
  color: white;
  text-align: right;
  margin-bottom: 2rem;
}
.about-website {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.about-us {
  margin-top: 5rem;
}
.about-us .developer {
  margin-top: 5rem;
  padding-bottom: 5rem;
}
.about-us .developer:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.65);
}

/* Contact Page */
.contact {
  margin: auto;
  margin-top: 3rem;
  direction: rtl;
  text-align: right;
  color: white;
  width: 65%;
}
@media (max-width: 767px) {
  .contact {
    width: 95%;
  }
}
.contact .heading-line {
  overflow: hidden;
  font-weight: 300;
}
.contact .heading-line:after {
  width: 90%;
}
.contact .heading-line ~ p {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 300;
}
@media (max-width: 575px) {
  .contact .heading-line ~ p {
    font-size: 1rem;
  }
}
.contact-fields_field {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 12px 30px;
  color: white;
  border-radius: 20px;
  direction: ltr;
  text-align: left;
  margin-top: 2rem;
}
.contact-fields_field a {
  color: white;
}
@media (max-width: 575px) {
  .contact-fields_field a {
    font-size: 0.75rem;
  }
}
@media (min-width: 1200px) and (max-width: 1250px) {
  .contact-fields_field.long {
    padding: 12px 15px;
  }
}
@media (min-width: 1250px) and (max-width: 1331px) {
  .contact-fields_field.long {
    padding: 12px 20px;
  }
}