header{
  .container{
    max-width: 1500px;
  }
  .navbar{
  background-color: $main-yellow;
  border-radius: 50px;
    @media (min-width: 768px) {
      padding: 0 1rem;

    }
  .navbar-nav.ml-auto{
    direction: rtl;
    padding: 0;
  }
  .nav-item{
    &.nav-item_bg{
      @media (max-width: 767px) {
        display: none;
      }
      .nav-link{
        color: white;
        &__name{
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 160px;
          display: inline-block;
          vertical-align: middle;
        }
      }
      background-color: rgba(7, 59, 76, 0.89);
    }
    font-weight: bold;
    font-size: 1.1rem;
    border-radius: 20px;
    &:first-child{
      margin-right:1.5rem;

    }
    margin:0.75rem 0.5rem;
    padding:0 0.5rem;
    .nav-link{
      padding: 0.5rem 1rem;
      color: #204948;

    }
    .dropdown-menu{
      width: 100%;
      background-color:#073B4C ;
      border: 2px solid $main-yellow;
      .dropdown-item{
        color: white;
        margin: 0.5rem 2rem;
        &:hover{
          background-color: initial;
        }
      }
      &_image{
        border: 1px solid white;
        border-radius: 50%;
        width:134px;
        height:134px;
      }
    }
  }

.container{
  .mobile-logo{
    min-width: 150px;
    max-width: 220px;
    width: 100%;
    @media (max-width: 576px){
      max-width: 190px;
    }
  }
  padding: 0;
}
    .navbar-toggler{
      border: none;
      max-width: 1.5em;
      padding: 0.25rem 0.5rem;
      outline: none !important;
      &:last-child{
        padding-right: 1.5rem;
      }
      .fa-user{
        font-size: 1.5rem;
      }
    }
.typo-logo{
  font-size: 1.7rem;
  color: #073B4C !important;
  padding-left: 0 !important;
  padding-top: 0.75rem;
}
}
  #menu {
    direction: rtl;
    width: 100%;
    .menu {
      border: $main-yellow solid 2px;
      padding: 1rem;
      padding-bottom: 0;
      color: #204948;
      img{
        width: 70px;
        border-radius:50%;
        margin-left:10px ;
      }
      .menu-auth{
        display: flex;
        flex-direction: column;
        &_item{
          padding: 0.5rem 1rem;
          font-weight: bold;
          font-size: 1.1rem;
          color: #204948;
          margin: 0.5rem 0rem;
          &:hover{
            background-color: initial;
          }
        }
      }
      li{
        padding-top: 1rem;
        a{
          color: white;
        }
      }
    }
  }
}
